@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.add-book{
    border: none;
    background-color: #2ecc71;
    color: #fafafa;
    width: 100%;
    font-size: 2rem;
    font-family: inherit;
    padding: 40px 0;
    font-weight: bold;
    cursor: pointer;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.book{
    color: #fafafa;
    text-align: center;
}
.pageNumber{
    margin: 21px 0;
    font-size: 1.4rem;
}

.readStatus{
    border: none;
    font: inherit;
    background-color: #2ecc71;
    color: #fafafa;
}
